{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<style>
    .home_body {
        background-color: lightblue;
        padding-left: 2%;
        padding-top: 2%;
    }

    hr.hor_line {
        border: 1px solid black;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .center {
        margin: auto;
        width: 60%;
        border: 3px solid black;
        padding: 10px;
      }



</style>

<div class="home_body" >

    <div>
        <b>
            <h4>Hello World,</h4>
            <h5>{{ profile.bio }}</h5>
        </b>
    </div>

<hr class="hor_line" >
    <h1><b>Projects:</b></h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ project.image.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description| truncatechars:100 }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr class="hor_line" >
<h1><b>blogs:</b></h1>
<div class="row" >
{% for blog in blogs %}
<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="{{ blog.image.url }}">
        <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.description }}</p>
            <a href="{% url 'blog_detail' blog.pk %}"
               class="btn btn-primary">
                Read More
            </a>
        </div>
    </div>
</div>
{% endfor %}
</div>

<hr class="hor_line" >
<p>© Copyright Sandesh Nepal {{year}}</p>

  
    <hr class="hor_line" >







{% endblock page_content %}