{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<style>


</style>

<div>
    <section>
        <h2>Bio</h2>
        <br>
        <p>Hello World!</p>
        <p>{{ profile.bio }}</p>
        <br>
        <p>The following are my Passion and Interests:</p>
        <p>{{ profile.passion }}</p>
    </section>
</div>



<section>
    <h2>Projects</h2> 
</section>
<br>

<section>
<div>
    {% for project in projects %}
        
        <div id="card-container" class="card" style="width: 22rem;">
            {% if project.image %}
                <img src="{{ project.image.url }}" class="card-img-top" alt="Placeholder Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description| truncatechars:80 }}</p>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
            </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        
{% endfor %}   
</div>
</section>

<h2>Blogs</h2> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





<section>
<div>
    {% for blog in blogs %}
       
        <div id="card-container" class="card" style="width: 18rem;">
            {% if blog.image %}
                <img src="{{ blog.image.url }}" class="card-img-top" alt="Placeholder Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.description| truncatechars:80 }}</p>
                <a href="{% url 'blog_detail' blog.pk %}" class="btn btn-primary">Read More</a>
            </div>
            </div>
            <br>
            <br>
            <br>
            <br>
          
{% endfor %}   
</div>
</section>




<section>
    <p>© Copyright Sandesh Nepal {{year}}</p>   
</section>







{% endblock page_content %}