{% extends "base.html" %}
{% load static %}
{% block page_content %}
<section>
<h1><u>Recent Projects</u></h1>
<br>
<br>
<br>
<br>
<br>
</section>


<section>
    <div>
        {% for project in projects %}
            
            <div id="card-container" class="card" style="width: 22rem;">
                {% if project.image %}
                    <img src="{{ project.image.url }}" class="card-img-top" alt="Placeholder Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description| truncatechars:160 }}</p>
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
                </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            
    {% endfor %}   
    </div>
</section>

<section>
    <p>© Copyright Sandesh Nepal {{year}}</p>   
</section>


{% endblock %}